{port_sources, ["c_src/*.cpp"]}.

{so_name, "zmq_drv.so"}.

{port_envs, [

    {"CXXFLAGS",  "$CXXFLAGS -I/usr/local/zeromq-2.1.0/include"},
    {"LDFLAGS", "$LDFLAGS -L/usr/local/zeromq-2.1.0/lib -lzmq"},
   
    {"linux", "CXXLAGS", "$CXXFLAGS -I/usr/include"}, 
    {"linux", "LDFLAGS", "$LDFLAGS -L/usr/lib"},

    %% OS X
    {"darwin", "CXXFLAGS", "$CXXFLAGS -I/usr/local/include"},
    {"darwin", "LDFLAGS", "$LDFLAGS -L/usr/local/lib"},
    
    {"freebsd", "CXXFLAGS", "$CXXFLAGS -I/usr/local/include"},
    {"freebsd", "LDFLAGS", "$LDFLAGS -L/usr/local/lib"},

    {"openbsd", "CXXFLAGS", "$CXXFLAGS -I/usr/local/include"},
    {"openbsd", "LDFLAGS", "$LDFLAGS -L/usr/local/lib"}
]}.

{erl_opts, [debug_info]}.

